
.kaki {
    background-color: rgb(255, 174, 0);
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  }
  

  .kaki p {
    margin: 0;
    font-size: 1rem;
  }
  

  @media (max-width: 768px) {
    .kaki {
      padding: 10px;
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    .kaki {
      padding: 8px;
      font-size: 0.8rem; 
    }
  }
  
